label{
    margin-right: 515px;
    margin-bottom: 500px;
    font-size:30px;
    font-weight: bold;
    color:#17357c;
    font-family: serif;
}
input{
    border-top: none;
    border-left: none;
    border-right: none; 
    color: #6c8ebf; 
    font-size:18px;
    font-weight:bold;
    background: none; 
    border-color: #17357c; 
    width:300px; 
    height:40px;
    margin-right: 450px;
    margin-bottom: 400px;
    box-shadow: 0 0 10px #17357c;
    pointer-events: none;
}
input:focus { 
    outline: none !important;
    border-color: #17357c;
    box-shadow: 0 0 10px #17357c;
}
textarea:focus { 
    outline: none !important;
    border-color: #17357c;
    box-shadow: 0 0 10px #17357c;
}