<div class="container-fluid" style="padding: 0%; ">
    <div class="w3-display-container" style="color: white">
        <img 
            src="assets\Media\Golf-R-Beauty-Shot-Performance.jpg" 
            class="img-fluid" 
            style="width: 100vw; height: 100vh; filter: blur(3px); -webkit-filter: blur(3px);" 
            alt="Image Not Found"
        >
        
        <div class="w3-display-topleft w3-container">
            <img 
            src="assets\Media\upwardLine.png" 
            alt=""
            style="margin-left: 235px;"
            >
        </div>
        <div class="w3-display-topleft w3-container">
            
            <img 
                src="assets\Media\vwLogoWhite.png" 
                alt=""
                style="width:15%; margin-left: 150px; margin-top: 150px;"
            >
        </div>
        
        <div class="w3-display-topleft w3-container">
            <img 
            src="assets\Media\downLine.png" 
            alt=""
            style="margin-left: 235px; margin-top: 340px"
            >
        </div>
        <div class="w3-display-bottomleft w3-container"></div>
        <div class="w3-display-bottomright w3-container"></div>
        <div class="w3-display-left w3-container"style="margin: bottom 400px;margin-left:250px; ">
        </div>
        <div class="w3-display-left w3-container" style="margin-left:350px;">
            <label  
                style="
                        font-weight:bold;
                        color:white;
                        margin-top: 200px;"
            >
                Employee Number
            </label>
        </div>
        <div class="w3-display-left w3-container" style="margin-left:350px;">
            <input id="userNumber" type="text" value="..." style="margin-top: 200px;">
        </div>


        <div class="w3-display-right w3-container">
            <!-- <label>Employee Number</label> -->
        </div>
        <div class="w3-display-right w3-container">
            
        </div>
        
        <div class="w3-display-topmiddle w3-container">
            <div class="container-fluid" style="background:#6c8fbf8e; width: 100vw; height:120px">
                <div class="w3-display-topleft w3-container" style="margin-top:15px; margin-left:270px;">
                    <label style="color:black;">STEP 1: Scan Employee Card</label>
                </div>
                <div class="w3-display-topleft w3-container" style="margin-top: 60px; margin-left: 270px;">
                    <label style="color: black;">STEP 2: Put Down Fingerprint</label>
                </div>
                <div class="w3-display-middle w3-large" >
                    <img 
                        src="assets\Media\arrow.png" 
                        alt="" 
                        style="margin-top: 30px; margin-left: 500px;"
                    >
                </div>
                <div class="w3-display-topmiddle w3-container">
                    <img 
                        src="assets\Media\cardReader.png" 
                        alt=""
                        style="width:25%; margin-top:10px; margin-left:380px"
                    >
                </div>
                <div class="w3-display-topright w3-container">
                    <img 
                        src="assets\Media\fingerPrint.png" 
                        alt=""
                        style="width:18%; margin-top:4px; margin-right:115px"
                    >
                </div>
            </div>
        </div>
        <div class="w3-display-bottommiddle w3-container">
            
        </div>
        <div class="w3-display-bottommiddle w3-container">
            
        </div>
    </div>
    
</div>