<div class="container-fluid" style="padding: 0%; ">
    <div class="w3-display-container" style="color: white">
        <img 
            src="assets\Media\Golf-R-Beauty-Shot-Performance.jpg" 
            class="img-fluid" 
            style="width: 100vw; height: 100vh; filter: blur(3px); -webkit-filter: blur(3px);" 
            alt="Image Not Found"
        >
        
        <div class="w3-display-topleft w3-container">
            
        </div>
        <div class="w3-display-topleft w3-container">
        </div>
        
        <div class="w3-display-topleft w3-container">
            
        </div>
        <div class="w3-display-bottomleft w3-container"></div>
        <div class="w3-display-bottomright w3-container"></div>
        <div class="w3-display-left w3-container">
        </div>
        <div class="w3-display-left w3-container" style="margin-left:350px;">
        </div>
        <div class="w3-display-left w3-container">
        </div>


        <div class="w3-display-right w3-container">
            <!-- <label>Employee Number</label> -->
        </div>
        <div class="w3-display-right w3-container">
            
        </div>
        
        <div class="w3-display-topmiddle w3-container">
            <img 
            src="assets\Media\vwLogoWhite.png" 
            alt=""
            style="width: 50%;margin-left: 150px; margin-top: 150px;"
        >
        </div>
        <div class="w3-display-bottommiddle w3-container">
            <label style="margin-right: 20px;margin-bottom: 200px; font-size: 40px; font-weight: bold; font-family:serif;">WELCOME HOME</label>
        </div>
        <div class="w3-display-bottommiddle w3-container">
            
        </div>
    </div>
    
</div>